<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Relativity.Agent" version="17.0.4" targetFramework="net472" />
  <package id="Relativity.API" version="17.0.4" targetFramework="net472" />
  <package id="Relativity.EventHandler" version="17.0.2" targetFramework="net472" />
</packages>